name: Build & Deploy JAR

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment"
        required: true
        type: choice
        options: [test, cert, prod]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build bootJar
        run: ./gradlew clean bootJar --no-daemon

      - name: Verify JAR
        run: |
          ls -lh build/libs
          test -f build/libs/demo.jar

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-app-jar
          path: build/libs/demo.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: demo-app-jar
          path: artifact

      - run: ls -l artifact
